.page-header-container {
    width: 100%;
    
    display: flex;
    position: fixed;
}

.page-header {
    padding: 0px 30px;
    margin: 12px auto;

    display: flex;

    backdrop-filter: blur(20px) brightness(120%);
    -webkit-backdrop-filter: blur(20px) brightness(120%);
    background-color: rgba(255, 255, 255, 0.25);

    box-shadow: 0px 10px 10px -10px rgba(0,0,0,0.25);

    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 160px;

    z-index: 10;

    transition: .2s;
}

@media screen and (max-width: 1000px) and (orientation: portrait) {
    .logo {
        height: 175px !important;
    }

    .collapsed .logo {
        height: 100px !important;
    }

    .social {
        max-height: 75px !important;
    }

    .collapsed .social {
        max-height: 75px !important;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
    }

    .page-header {
        backdrop-filter: blur(20px) brightness(80%);
        -webkit-backdrop-filter: blur(20px) brightness(80%);
        background-color: rgba(0, 0, 0, 0.25);
    }

    #joao {
        fill: white !important;
    }

    .social img {
        filter: invert(100%)
    }
}

.logo {
    max-width: 30vw;

    height: 40px;
    width: auto;
    
    align-self: center;
    transition: .2s;
}

.collapsed .logo {
    height: 50px;
}

#joogps\\.com {
    transition: .3s;
}

.collapsed #joogps\\.com {
    opacity: 0;
}

.social {
    align-self: center;

    box-sizing: content-box;

    text-align: right;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: .2s;
}

.social img {
    height: 20px;
    margin: 8px;
    opacity: 75%;

    transition: .2s;
}

.collapsed .social img {
    height: 24px;
    margin: 4px;
}

.social img:hover {
    transform: scale(0.9);
}

.social a {
    text-decoration: none;
}