.grid {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
}

.single .title {
    font-size: 2.5em !important;
}

.single {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0px 60px;
}

.single * {
    margin: 4px 0px;
}

.hero {
    margin: 0;
    margin-bottom: 12px;
}

.hero > .item {
    background-image: linear-gradient(130deg, #ff7300, #ffd000, #ff7300, #ffd000), url("https://source.unsplash.com/collection/79129294/");
}

.single .article {
    background-color: #141414;
}

.single header {
    margin-bottom: 20px;
}

.single hr {
    margin: 25px 0px;
}

.single p {
    margin: 15px 0px;
}

.item {
    padding: 5vw 8vw;
}